.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 4vh;
  width: 8rem;
}

.nav-bg {
  background-color: #333545;
}

.sign-in-bg {
  background-color: #f84464;
  color: #fff;
}

.header-text {
  color: #c8c9c9;
}
.bg-second-header {
  background-color: #222539;
  color: #c7c7c7;
}
.list-style-none {
  list-style-type: none;
}
.sup-color {
  color: #f84464;
  margin-left: -0.3rem;
}
.icon {
  font-size: 2rem;
  color: #c7c7c7;
}

.city-logo {
  height: 70px;
  width: 70px;
}

.icon-container {
  border-style: none;
}

.radius {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.radius-2 {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.tile {
  flex-basis: 600px !important;
}

.bt {
  background-color: #666666;
  border-radius: 80px;
  height: 50px;
  width: 50px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0.8;
}

.transition {
  transition: 1s;
}
.btn-share {
  background: rgba(251, 231, 231, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  height: 5rem;
  font-size: 2rem;
}

.button-header {
  border: 1px solid #999999;
  border-radius: 0.5rem;
  color: #595959;
  width: 90%;
  font-weight: 400;
}

.ratings-container {
  background: rgba(251, 231, 231, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  width: 100%;
}

.btn-book {
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.btn-movie {
  background-color: #eeeeee;
  color: #000;
  padding: 0.3rem;
  border-style: none;
  border-radius: 0.2rem;
  font-weight: 500;
}
.movie-details {
  margin-left: -15%;
}

.offers-container {
  background-color: #fff3d2;
  border: 2px dashed #ffd564;
  color: #666666;

  padding: 1rem;
}

.see-all-text {
  color: #f84464;
}

a {
  text-decoration: none;
  color: inherit;
}

.cast {
  height: 6rem;
  width: 6rem;
}

.movies-home {
  width: 75%;
}

.image {
  height: 100%;
}

.tile-title {
  font-size: 2rem;
}
#mob-input {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid #cccccc !important;
  /* border-bottom: 1px solid black; */
}

.vote {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .movie-tile {
    height: 50%;
    width: 100%;
  }
  .movies-home {
    width: 95%;
  }
  .image {
    height: 180px;
  }
  .tile-title {
    font-size: 0.8rem;
  }
  .vote {
    font-size: 1rem;
  }
  .ratings-container {
    background: rgba(251, 231, 231, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #fff;
    width: 200px;
    align-self: flex-start;
  }

  .btn-share {
    background: rgba(251, 231, 231, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(158, 121, 121, 0.18);
    color: #fff;
    height: 2.5rem;

    font-size: 1rem;
  }
  .ratings-container {
    background: rgba(251, 231, 231, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #fff;
    width: 100%;
  }
}

.header-theater {
  background-color: #333545;
  height: 20vh;
  color: #f4f4f4;
}

.fill {
  font-size: 0.8rem;
}

.ticket-btn {
  height: 2rem;
  width: 2rem;
}
.ticket-btn:hover {
  background-color: #f84464;
  color: #fff;
}
.ticket-btn:focus {
  background-color: #f84464;
  color: #fff;
  outline: none;
}
.ticket-btn:active {
  background-color: #f84464;
  color: #fff;
  outline: none;
}
.ticket-modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  height: 88.3vh;
}
.tkt-container {
  max-width: 600px;
  max-height: 600px;
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 500px;
}

.food {
  color: #ffb043;
}
.avl {
  font-size: 0.9rem;
}

.layout-header {
  background-color: #1f2533;
  color: #fff;
}
.round-custom {
  border-radius: 0.7rem;
}
.round-custom-big {
  border-radius: 1.5rem;
}
.modal {
  border-radius: 5rem;
}

.box {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid green;
  margin: 0.5rem;
  color: green;
  font-size: 0.6rem;
  padding-top: 0.3rem;
  cursor: pointer;
}
.seat_number {
  margin: auto;
}
.empty-box {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.4rem;
  background-color: white;
  border: none;
  padding-top: auto;
}

.couple-box {
  height: 1.5rem;
  width: 3rem;
  border: 1px solid green;
  margin: 0.5rem;
  color: green;
  font-size: 0.6rem;
  padding-top: 0.15rem;
  cursor: pointer;
}
.couple-left-box {
  height: 1.5rem;
  width: 1.5rem;
  border-right: 1px dashed green;
  border-left: none;
  border-top: none;
  border-bottom: none;
  padding-top: 0.3rem;
  cursor: pointer;
}
.couple-right-box {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  padding-top: 0.3rem;
  cursor: pointer;
}
.selected {
  background-color: green;
  color: #fefffe;
  font-size: 0.7rem;
}
.selected-number {
  background-color: #f84464;
  color: #fff;
}

.terms {
  font-size: 0.8rem;
  color: #979797;
}

input:focus {
  outline: none;
}

.continue-btn:disabled {
  width: 100%;
  background-color: #666666;
  border: none;
  border-radius: 0.5rem;
  width: 15rem;
}

.continue-btn {
  width: 100%;
  background-color: #f84464;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  width: 20rem;
}

.nested-btn {
  margin-top: 20rem;
}

.custom-width {
  width: 30%;
}

.grey {
  color: #747474;
}
.black {
  color: #000;
}
.BAS {
  height: 6rem;
  width: 6rem;
}
.card-container {
  background: linear-gradient(135deg, #dadee3, #d2d6de);
}

.amt-payable {
  background-color: #fffcdc;
}
.payment-page-bg {
  background-color: #f2f2f2;
}

.bas-container {
  background-color: #f5f5f5;
}

.payment-page-dd {
  background-color: #ebebeb;
  color: #56585e;
}

.send-tickets {
  background-color: #f7f7f7;
  color: #343434;
}

.poster {
  height: 10%;
  width: 25%;
}
